<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title th:text="${titulo}"></title>
    </head>
    <body>
        <h1 th:text="${titulo}"></h1>
        <ul>
            <li>
                <a th:href="@{/variables/string/} + 'Hola Adrián'">/variables/string/Hola Adrián</a>
            </li>
            <li>
                <a th:href="@{/variables/string/} + 'Qué tal John'">/variables/string/Qué tal John</a>
            </li>
            <li>
                <a th:href="@{/variables/string/} + ${titulo} + '/' + ${'19'}">/variables/string/${titulo}/${'19'}</a>
            </li>
        </ul>
    </body>
</html>